{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for info in history %}
             <tr>
                <td class="text-start">{{ info.symbol }}</td>
                <td class="text-end">{{ info.shares }}</td>
                <td class="text-end">{{ info.price | usd}}</td>
                <td class="text-end">{{ info.transacted }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

